[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
motor = "*"
pymongo = "*"
ptpython = "*"
toml = "*"
tortoise-orm = "*"
asyncpg = "*"

[dev-packages]
"pep8" = "*"
pylint = "*"
"autopep8" = "*"
rope = "*"

[requires]
python_version = "3.8"
